@import "index";

.grid_container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  // border: 5px solid green;
  grid-gap: 25px;

  .grid_item {
    padding: 20px 30px 30px;
    background-color: $white;
    border: 1px solid rgba(33, 63, 125, 0.06);
    box-shadow: 0 20px 3px, 5px rgba(0, 0, 0, 0.04);
    border-radius: 4px;
    // border: 2px solid red;

    .grid_item_title {
      font-size: 14px;
      line-height: 16px;
      font-weight: 500;
      text-transform: uppercase;
      color: #545F7D;
    }

    .grid_item_figure {
      font-size: 24px;
      line-height: 28px;
      font-weight: 600;
      color: #545F7D;
    }
  }
}

.table_container {
  margin: 40px 0;
  color: #545F7D;
  // border: 1px solid red;

  table {
    width: 100%;
    padding: 30px 30px 39px;
    border-radius: 4px;
    background-color: $white;
    border: 1px solid rgba(33, 63, 125, 0.06);
    box-shadow: 0 20px 3px, 5px rgba(0, 0, 0, 0.04);

    tr {
      text-align: left;

      th {
        text-transform: uppercase;
        font-weight: 600;
        font-size: 12px;
        line-height: 14px;
        height: 30px;
        height: 82px;
        // border-bottom: 1px solid rgba(33, 63, 125, 0.1);
      }

      td {
        border-bottom: 1px solid rgba(33, 63, 125, 0.1);
        height: 60px;
      }

      td:last-child {
        text-align: right;
      }
    }

    tr:last-child {
      td {
        border-bottom: none;
      }
    }
  }

  .data_modifier {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;

    .items_per_page {
      font-size: 14px;
      line-height: 16px;
      font-weight: 400;

      select {
        background-color: rgba(33, 63, 125, 0.1);
        width: 80px;
        height: 30px;
        border-radius: 4px;
        border: none;
        padding: 0 10px;
        margin: 0 5px;

    //     -moz-appearance:none;
    // -webkit-appearance:none; 
    // appearance:none;

      }
    }
  }
}


// Large devices (1200px and down)
@media (max-width: 1200px) {
  .grid_container {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
}


// Medium devices (tablets, 768px and down)
@media (max-width: 768px) {
  
}


// Small devices (phones, 576px and down)
@media (max-width: 576px) {
  .grid_container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
  }

}
