@import "index";

.container {

  %flex_shared {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 16px;
    color: #213F7D;
  }

  .topbar_container {
    display: grid;
    grid-template-columns: 253px 1fr;
    align-items: center;
    padding: 0 60px 0 30px;
    height: 100px;
    background-color: $white;
    box-shadow: 0px 24px 48px 0 rgba(0, 0, 0, 0.04);
    // box-shadow: 0px 20px 3px, 0px rgba(0, 0, 0, 0.04);
    position: sticky;
    top: 0;
    z-index: 2;
    // border: 1px solid red;

    .sidebar_toggle {
      display: none;
    }

    .logo {
      // border: 1px solid green;
      width: 100%;
      max-width: 145px;
    }

    .topbar_right_container {
      // border: 1px solid violet;
      display: grid;
      grid-template-columns: auto auto;
      align-items: center;
      padding: 0 0 0 60px;

      .topbar_input_box {
        width: 400px;
        height: 40px;
        border-radius: 8px;
        position: relative;
        // border: 2px solid red;

        .topbar_input {
          width: 100%;
          height: 100%;
          border-radius: 8px;
          font-size: 14px;
          padding: 0 16px;
          border: 1px solid #213F7D;
        }

        .topbar_input_icon {
          position: absolute;
          top: 0px;
          right: 0px;
          padding: 13px 25px;
          border-radius: 0 8px 8px 0;
          background-color: #39CDCC;
        }
      }

      .topbar_profile_box {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 30px;

        .topbar_box_docs {
          margin-right: 17px;
          color: #213F7D;
          font-weight: 400;
          text-decoration: underline;
          font-family: "Roboto", sans-serif;
        }

        .user_profile {
          display: flex;
          align-items: center;
          gap: 10px;
        }
      }

      .topbar_profile_box_mobile {
        display: none;
      }
    }
  }

  .layout {
    position: relative;
    // border: 1px solid red;

    .sidebar {
      position: fixed;
      top: 100px;
      left: 0;
      width: 283px;
      bottom: 4px;
      min-height: 0 !important;
      background-color: $white;
      box-shadow: 0px 24px 48px 0 rgba(0, 0, 0, 0.04);
      overflow: scroll;

      .close_btn {
        display: none;
      }

      .flex_container_1 {
        @extend %flex_shared;
        margin-top: 39px;
        padding-left: 30px;

        p {
          margin: 0;
        }
      }

      .flex_container_2 {
        @extend %flex_shared;
        margin-top: 52px;
        padding: 5px 0 5px 30px;
        // border: 1px solid red;

        p {
          margin: 0;
        }
      }

      .nav_container {
        margin: 41px 0 0 0;
        // border: 1px solid red;

        .nav_heading {
          text-transform: uppercase;
          font-size: 12px;
          font-weight: 500;
          line-height: 14px;
          color: #545F7D;
          padding-left: 30px;
        }

        .nav_item {
          @extend %flex_shared;
          text-transform: capitalize;
          padding-left: 30px;
          font-size: 16px;
          font-weight: 400;
          line-height: 18px;
          // border: 1px solid red
        }

        .active_link {
          border-left: 3px solid $primary-color;
          background-color: $primary-color_active_link;
        }
      }
    }

    .main {
      padding: 60px;
      margin-left: 283px;
      // border: 1px solid violet;
      // z-index: 2;
    }
  }

}



// Large devices (1200px and down)
@media (max-width: 1200px) {

  %flex_shared_large_screen {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 16px;
    color: #213F7D;
    border: 2px solid red;
  }

  .container {
    .topbar_container {
      display: grid;
      grid-template-columns: 223px 1fr;
      align-items: center;
      padding: 0 30px;
      height: 100px;
      background-color: $white;
      box-shadow: 0px 24px 48px 0 rgba(0, 0, 0, 0.04);
      // box-shadow: 0px 20px 3px, 0px rgba(0, 0, 0, 0.04);
      position: sticky;
      top: 0;
      z-index: 2;
      // border: 1px solid red;

      .sidebar_toggle {
        display: none;
      }

      .topbar_right_container {
        padding: 0 0 0 30px;

        .topbar_input_box {
          width: 350px;
          height: 40px;
          border-radius: 8px;
          position: relative;
          // border: 2px solid red;
        }

        .topbar_profile_box {
          gap: 15px;

          .topbar_box_docs {
            margin-right: 15px;
          }

          .user_profile {
            display: flex;
            align-items: center;
            gap: 10px;
          }
        }

        .topbar_profile_box_mobile {
          display: none;
        }
      }
    }

    .layout {
      position: relative;
      // border: 1px solid red;

      .sidebar {
        width: 253px;

        .flex_container_1 {
          @extend %flex_shared;
          margin-top: 39px;
          padding-left: 30px;

          p {
            margin: 0;
          }
        }

        .flex_container_2 {
          @extend %flex_shared;
          margin-top: 42px;
          padding: 5px 0 5px 30px;
          // border: 1px solid red;

          p {
            margin: 0;
          }
        }
      }

      .main {
        padding: 30px;
        margin-left: 253px;
      }
    }

  }
}


// Medium devices (tablets, 768px and down)
@media (max-width: 768px) {

  %flex_shared_medium_screen {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 16px;
    color: #213F7D;
  }

  .container {
    .topbar_container {
      display: grid;
      grid-template-columns: 50px auto auto;
      align-items: center;
      padding: 0 25px 0 25px;
      height: 100px;
      background-color: $white;
      box-shadow: 0px 24px 48px 0 rgba(0, 0, 0, 0.04);
      // box-shadow: 0px 20px 3px, 0px rgba(0, 0, 0, 0.04);
      position: sticky;
      top: 0;
      z-index: 2;

      .sidebar_toggle {
        display: block;
      }

      .logo {
        width: 100%;
        max-width: 120px;
        margin-left: 30px;
        justify-self: flex-start;
      }

      .topbar_right_container {
        justify-self: flex-end;
        padding: 0 0 0 25px;

        .topbar_input_box {
          display: none;
        }

        .topbar_profile_box {
          display: none;
        }

        .topbar_profile_box_mobile {
          display: block;
          position: relative;

          .dropdown_btn {
            display: flex;
            align-items: center;
          }

          .dropdown_content_mobile {
            display: block;
            flex-direction: column;
            align-items: flex-start;
            position: absolute;
            right: 0;
            top: 40px;
            background-color: #f1f1f1;
            min-width: 200px;
            overflow: auto;
            box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
            z-index: 1;
            padding: 15px 10px;
            text-align: left;
            transition: 0.5s;

            .topbar_input_box_mobile {
              width: 200px;
              height: 35px;
              border-radius: 5px;
              position: relative;

              .topbar_input {
                width: 100%;
                height: 100%;
                border-radius: 5px;
                font-size: 14px;
                padding: 0 8px;
                border: 1px solid #213F7D;
              }

              .topbar_input_icon {
                position: absolute;
                top: 0px;
                right: 0px;
                padding: 10.5px 15px;
                border-radius: 0 5px 5px 0;
                background-color: #39CDCC;
              }
            }
          }

          .avatar {
            width: 40px;
          }
        }
      }
    }

    .sidebar {
      display: none;
    }

    .show_sidebar {
      display: block;
      position: fixed;
      z-index: 1;
      top: 0;
      left: 0;
      width: 243px;
      bottom: 4px;
      min-height: 0 !important;
      background-color: $white;
      box-shadow: 0px 24px 48px 0 rgba(0, 0, 0, 0.04);
      overflow: scroll;

      .logo_box {
        display: flex;
        align-items: center;
        height: 100px;

        .close_btn {
          display: block;
          font-size: 30px;
          font-weight: 700;
          display: flex;
          justify-content: flex-end;
          width: 85%;
        }

        .logo {
          display: none;
        }
      }

      .flex_container_1 {
        @extend %flex_shared_medium_screen;
        margin-top: 25px;
        padding-left: 25px;
        // border: 1px solid red;

        p {
          margin: 0;
        }
      }

      .flex_container_2 {
        @extend %flex_shared_medium_screen;
        margin-top: 30px;
        padding: 5px 0 5px 25px;
        // border: 1px solid red;

        p {
          margin: 0;
        }
      }

      .nav_container {
        margin: 41px 0 0 0;
        // border: 1px solid red;

        .nav_heading {
          padding-left: 25px;
        }

        .nav_item {
          @extend %flex_shared_medium_screen;
          padding-left: 25px;
          // border: 1px solid red
        }

        .active_link {
          border-left: 3px solid $primary-color;
          background-color: $primary-color_active_link;
        }
      }

    }

    .hide_sidebar {
      display: none;
    }

    .layout {
      margin-left: 0px;
      position: relative;

      .main {
        padding: 30px;
        margin: 0;
      }

    }

  }
}


// Small devices (phones, 576px and down)
@media (max-width: 576px) {

  %flex_shared_small_screen {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 14px;
    color: #213F7D;
  }

  .container {
    .topbar_container {
      display: grid;
      grid-template-columns: 30px auto auto;
      align-items: center;
      // justify-content: space-between;
      padding: 0 15px 0 15px;
      height: 100px;
      background-color: $white;
      box-shadow: 0px 24px 48px 0 rgba(0, 0, 0, 0.04);
      // box-shadow: 0px 20px 3px, 0px rgba(0, 0, 0, 0.04);
      position: sticky;
      top: 0;
      z-index: 2;
      // border: 1px solid red;

      .sidebar_toggle {
        display: block;
        // border: 1px solid green;
      }

      .logo {
        // border: 1px solid green;
        width: 100%;
        max-width: 120px;
        margin-left: 15px;
        justify-self: flex-start;
      }

      .topbar_right_container {
        justify-self: flex-end;
        padding: 0 0 0 15px;

        .topbar_input_box {
          display: none;
        }

        .topbar_profile_box {
          display: none;
        }

        .topbar_profile_box_mobile {
          display: block;
          position: relative;

          .dropdown_btn {
            display: flex;
            align-items: center;
          }

          .dropdown_content_mobile {
            display: block;
            flex-direction: column;
            align-items: flex-start;
            position: absolute;
            right: 0;
            top: 40px;
            background-color: #f1f1f1;
            min-width: 200px;
            overflow: auto;
            box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
            z-index: 1;
            padding: 15px 10px;
            text-align: left;
            transition: 0.5s;

            .topbar_input_box_mobile {
              width: 200px;
              height: 35px;
              border-radius: 5px;
              position: relative;

              .topbar_input {
                width: 100%;
                height: 100%;
                border-radius: 5px;
                font-size: 14px;
                padding: 0 8px;
                border: 1px solid #213F7D;
              }

              .topbar_input_icon {
                position: absolute;
                top: 0px;
                right: 0px;
                padding: 10.5px 15px;
                border-radius: 0 5px 5px 0;
                background-color: #39CDCC;
              }
            }
          }

          .avatar {
            width: 40px;
          }
        }
      }
    }

    .sidebar {
      display: none;
    }

    .show_sidebar {
      display: block;
      position: fixed;
      z-index: 1;
      top: 0;
      left: 0;
      width: 243px;
      bottom: 4px;
      min-height: 0 !important;
      background-color: $white;
      box-shadow: 0px 24px 48px 0 rgba(0, 0, 0, 0.04);
      overflow: scroll;

      .logo_box {
        display: flex;
        align-items: center;
        height: 100px;

        .close_btn {
          display: block;
          font-size: 30px;
          font-weight: 700;
          display: flex;
          justify-content: flex-end;
          width: 85%;
        }

        .logo {
          display: none;
        }
      }

      .flex_container_1 {
        @extend %flex_shared_small_screen;
        margin-top: 25px;
        padding-left: 15px;

        p {
          margin: 0;
        }
      }

      .flex_container_2 {
        @extend %flex_shared_small_screen;
        margin-top: 30px;
        padding: 5px 0 5px 15px;

        p {
          margin: 0;
        }
      }

      .nav_container {
        margin: 41px 0 0 0;

        .nav_heading {
          padding-left: 25px;
        }

        .nav_item {
          @extend %flex_shared_small_screen;
          padding-left: 25px;
        }

        .active_link {
          border-left: 3px solid $primary-color;
          background-color: $primary-color_active_link;
        }
      }

    }

    .hide_sidebar {
      display: none;
    }

    .layout {
      margin-left: 0px;
      position: relative;

      .main {
        padding: 15px;
        margin: 0;
      }
    }

  }

}